sudo: required
services:
  - docker

before_install:
  - docker build -t tomd1991/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true tomd1991/react-test npm test

after_success:
  - docker build -t tomd1991/multi-client ./client
  - docker build -t tomd1991/multi-nginx ./nginx
  - docker build -t tomd1991/multi-server ./server
  - docker build -t tomd1991/multi-worker ./worker
  # Log in to the Docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take these images and push them to Docker Hub.
  - docker push tomd1991/multi-client
  - docker push tomd1991/multi-nginx
  - docker push tomd1991/multi-server
  - docker push tomd1991/multi-worker


